body {
    width: 100%;
    background-color: #222222;
    color: white;
}
.test { 
    border: white solid 1px;
}
.title-pri {
    text-align: center;
    font-size: 100px;
}

#items {
    border: white solid 1px;
}

.img-item {
    width: 80px;
    height: auto;
}

.center {
    text-align: center;
}

.item-zone {
    margin: 4px;
}

.comment-zone {
    margin: 4px;
}

h2 {
    margin-left: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    height: 200px;
    background-color: #0a0a0a;
    margin-top: 25px;
}

.space {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.p-foot {
    align-self: center;
}

.flex-foot {
    display: flex;
    justify-content: center;
    padding: 50px;
}

@media (max-width: 600px) {
    .title-pri{
        font-size: 70px;
    }
    h2 {
        margin-left: 5px;
    }
}
